.aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 0px 10px;
    background-image: radial-gradient(circle, #424242, #373737, #2c2c2c, #222222, #181818);
}

.aboutme-container h1 {
    gap: 0px;
    padding: 0px;
    margin: 0px;
    color: #dadde2;
    font-size: 35px;
}

.aboutme-container p {
    color: #b8b8b8;
    font-size: 16px;
}

.aboutme-container h3 {
    margin: 0px;
}

/* .myimg {
    width: 130px;
    border: 1px solid #dadde2;
    border-radius: 30px;
    box-shadow: 9px 10px 23px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 23px -7px rgba(0,0,0,0.75);
    background-color: rgb(66, 66, 66);
} */

.myimg-container {
    position: relative;
    width: 400px;
    height: 200px;
}

.myimg {
    position: absolute;
    top: 0;
    left: 18px;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.aboutme-p-title {
    z-index: 1;
}


.aboutme-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.aboutme-p p {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: #f9f871;
}

.aboutme-img-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.aboutme-img-container img {
    width: 40px;
    height: 40px;
}

.aboutme-box {
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-shadow: 9px 10px 23px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 23px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 23px -7px rgba(0,0,0,0.75);
    z-index: 1;
}

@media (min-width: 420px) {

.myimg {
    width: 100%;
    max-width: 234px;
    max-height: 214px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: center;
    align-items: center;
}


.aboutme-p-title {
    text-align: center;
}

.myimg-container {
    position: unset;
}

.myimg {
    position: unset;
}

.myimg img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-container {
    margin: 0px;
    padding: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.aboutme-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    max-width: 640px;
    gap: 10px;
}

.aboutme-p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutme-p h1 {
    display: flex;
    justify-content: flex-start;
}

.aboutme-p p {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.aboutme-p-title {
    max-width: 530px;
}

}

@media (min-width: 570px) {
    .aboutme-p {
        max-width: 400px;
    }
}