.nav-title {
    color: #dadde2;
    font-size: 16px;
    font-weight: 500;
}

.nav-title h1 {
    font-size: 16px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 3px 10px 3px 10px;
    background-color: #000B1C;
    border-bottom: 1px solid white;
}


.nav-flags {
    display: flex;
    gap: 20px;
}

.nav-flags img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0px 3px 0px 3px;
}



@media (min-width:500px) {
    .nav-container {
        justify-content: space-around;
    }
}

@keyframes fadeIn-Portfolio {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.portfolio-enter {
    animation: fadeIn-Portfolio 1s ease-out;
}

@keyframes fadeIn-flags {
    from{
        opacity:0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
}

.page-enter-flags-1 {
    animation: fadeIn-flags 1s ease-in-out;
}

.page-enter-flags-2 {
    animation: fadeIn-flags 1.5s ease-in-out;
}

@media (min-width:1024px) {


.nav-title {
    color: #dadde2;
    font-size: 16px;
    font-weight: 500;
}

.nav-title h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    padding: 3px 10px 3px 10px;
    background-color: #000B1C;
    border-bottom: 1px solid white;
}

.nav-flags {
    display: flex;
    gap: 20px;
}

.nav-flags img {
    width: 40px;
    height: 40px;
}


}